<form [formGroup]="customerForm">
  <legend>Pluralsight Reactive Forms Using Form Builder</legend>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      formControlName="firstName"
      placeholder="First Name"
    />
  </div>

  <div class="form-group">
    <input
      type="text"
      name="lastName"
      id="lastName"
      class="form-control"
      placeholder="Last Name"
      aria-describedby="lastName"
    />
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      aria-describedby="email"
      placeholder="Email"
      formControlName="email"
    />
    <small
      *ngIf="customerForm.get('email').hasError('required')"
      id="email"
      class="form-text text-muted"
      >Email is required.</small
    >
    <small
      *ngIf="customerForm.get('email').hasError('email')"
      id="email"
      class="form-text text-muted"
      >Email is invalid.</small
    >
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      aria-describedby="phone"
      placeholder="Phone"
    />
    <small
      *ngIf="customerForm.get('phone').hasError('required')"
      id="phone"
      class="form-text text-muted"
      >Phone is required.</small
    >
  </div>

  <div class="form-group">
    <label class="control-label">Send Notifications &nbsp; </label>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          class="form-check-input"
          type="radio"
          value="email"
          formControlName="notification"
          (click)="setNotification('email')"
        />
        Email
      </label>
    </div>

    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          class="form-check-input"
          type="radio"
          value="text"
          formControlName="notification"
          (click)="setNotification('text')"
        />
        Text
      </label>
    </div>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input
        type="checkbox"
        class="form-check-input"
        value="true"
        formControlName="sendCatalog"
      />
      Send me your catalog
    </label>
  </div>

  <div class="form-group">
    <input
      type="number"
      class="form-control"
      aria-describedby="Rating"
      placeholder="Rating"
      formControlName="rating"
    />
    <small
      id="helpId"
      *ngIf="customerForm.get('rating').hasError('range')"
      class="form-text text-muted"
    >
      Please rate your experience from 1 to 5.
    </small>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
